body {
    background-color: #180339;
    color: white;
    margin: 0;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;
    background-color: #180339;
    height: 100px;
}

header h1 {
    flex-grow: 1;
    margin: 0;
    text-align: center;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.menuIcon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    margin: 10px;
    z-index: 20;
}

nav img {
    width: 40px;
    height: 40px;
}

.menuIcon:hover {
    transform: scale(1.1);
}

.menuGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 200px;
    height: 200px;
    position: fixed;
    margin: 0 auto;
    overflow: hidden;
}

.element {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.menuGrid.active .element1 {
    grid-column: 2;
    grid-row: 1;
    opacity: 1;
}

.menuGrid.active .element2 {
    grid-column: 3;
    grid-row: 1;
    opacity: 1;
}

.menuGrid.active .element3 {
    grid-column: 1;
    grid-row: 2;
    opacity: 1;
}

.menuGrid.active .element4 {
    grid-column: 2;
    grid-row: 2;
    opacity: 1;
}

.menuGrid.active .element5 {
    grid-column: 1;
    grid-row: 3;
    opacity: 1;
}

.menuGrid .element1 {
    transition-delay: 0.1s;
}

.menuGrid .element2 {
    transition-delay: 0.2s;
}

.menuGrid .element3 {
    transition-delay: 0.3s;
}

.menuGrid .element4 {
    transition-delay: 0.4s;
}

.menuGrid .element5 {
    transition-delay: 0.5s;
}

.container {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 220px);
}

.bulle {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.bulle:hover {
    transform: scale(1.1);
}

.bulle1 {
    position: relative;
    top: -60%;
    left: 15%;
}

.bulle1 img {
    width: 326px;
}

.bulle2 {
    position: relative;
    top: -65%;
    left: -40%;
}

.bulle2 img {
    width: 256px;
}

.bulle3 {
    position: absolute;
    top: 75%;
    left: 72%;
}

.bulle3 img {
    width: 215px;
}

.bulle4 {
    position: absolute;
    top: 71%;
    right: 58%;
}

.bulle4 img {
    width: 198px;
}

.bulle5 {
    position: absolute;
    top: 28%;
    right: 3%;
}

.bulle5 img {
    width: 214px;
}