body {
    background-color: #180339;
    color: white;
    margin: 2%;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;
    background-color: #180339;
    height: 100px;
}

header h1 {
    flex-grow: 1;
    margin: 0;
    text-align: center;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.menuIcon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    margin: 10px;
    z-index: 20;
}

nav img {
    width: 40px;
    height: 40px;
}

.menuIcon:hover {
    transform: scale(1.1);
}

.menuGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 200px;
    height: 200px;
    position: fixed;
    margin: 0 auto;
    overflow: hidden;
}

.element {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.menuGrid.active .element1 {
    grid-column: 2;
    grid-row: 1;
    opacity: 1;
}

.menuGrid.active .element2 {
    grid-column: 3;
    grid-row: 1;
    opacity: 1;
}

.menuGrid.active .element3 {
    grid-column: 1;
    grid-row: 2;
    opacity: 1;
}

.menuGrid.active .element4 {
    grid-column: 2;
    grid-row: 2;
    opacity: 1;
}

.menuGrid.active .element5 {
    grid-column: 1;
    grid-row: 3;
    opacity: 1;
}

.menuGrid .element1 {
    transition-delay: 0.1s;
}

.menuGrid .element2 {
    transition-delay: 0.2s;
}

.menuGrid .element3 {
    transition-delay: 0.3s;
}

.menuGrid .element4 {
    transition-delay: 0.4s;
}

.menuGrid .element5 {
    transition-delay: 0.5s;
}

.container {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 220px);
}

.bulle {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.bulle:hover {
    transform: scale(1.1);
}

/* Déplacement des bulles vers la gauche */
.bulle1 {
    position: relative;
    top: -52%;
    left: 21%;  /* Décalage vers la gauche */
}

.bulle1 img {
    width: 326px;
}

.bulle2 {
    position: relative;
    top: -61%;
    left: -22%;  /* Décalage vers la gauche */
}

.bulle2 img {
    width: 256px;
}

.bulle3 {
    position: relative;
    top: -71%;
    left: 35%;  /* Décalage vers la gauche */
}

.bulle3 img {
    width: 215px;
}

.bulle4 {
    position: relative;
    top: -3%;
    right: 32%;  /* Décalage vers la gauche */
}

.bulle4 img {
    width: 198px;
}

.bulle5 {
    position: relative;
    top: -18%;
    right:-7%;  /* Décalage vers la gauche */
}

.bulle5 img {
    width: 214px;
}

/* Animation de rotation continue */
@keyframes rotateText {
    0% {
        transform: rotate(0deg) scale(1.4);
    }
    100% {
        transform: rotate(360deg) scale(1.4);
    }
}

/* Texte animé avec rotation différente au départ */
.design-text {
    position: absolute;
    z-index: 1;
    animation: rotateText 20s linear infinite; /* Rotation lente */
    transform-origin: center;
    transform: rotate(0deg); /* Début à 0° */
}

.audiovisuel-text {
    position: absolute;
    z-index: 1;
    animation: rotateText 20s linear infinite; /* Rotation lente */
    transform-origin: center;
    transform: rotate(45deg); /* Début à 45° */
}

.web-text {
    position: absolute;
    z-index: 1;
    animation: rotateText 20s linear infinite; /* Rotation lente */
    transform-origin: center;
    transform: rotate(90deg); /* Début à 90° */
}

.art-text {
    position: absolute;
    z-index: 1;
    animation: rotateText 20s linear infinite; /* Rotation lente */
    transform-origin: center;
    transform: rotate(135deg); /* Début à 135° */
}

.parcours-text {
    position: absolute;
    z-index: 1;
    animation: rotateText 20s linear infinite; /* Rotation lente */
    transform-origin: center;
    transform: rotate(180deg); /* Début à 180° */
}

/* Arrêt de la rotation au survol */
.bulle1:hover .design-text,
.bulle2:hover .audiovisuel-text,
.bulle3:hover .parcours-text,
.bulle4:hover .art-text,
.bulle5:hover .web-text{
    animation-play-state: paused; /* Arrête la rotation */
}
